$main-padding: 15px;

$main-font: "Roboto", sans-serif;
$main-h1  : 38px;
$main-h2  : 32px;
$main-h3  : 28px;
$main-h4  : 22px;
$main-h5  : 18px;
$main-h6  : 16px;
$main-p   : 14px;

$main-bold      : 700;
$main-semi-bold : 600;
$main-regular   : 500;
$main-light     : 400;

$main-text : 1.3;

$main-color_blanc   : #FFFFFF;
$main-color_noir    : #000000;
$main-color_gris    : #272635;

$main-color_violet        : #8B69AD;
$main-color_violet_fonce  : #644087;

$main-color_jaune         : #FDB925;
$main-color_jaune_fonce   : #cd9828;
$main-color_jaune_kek     : #a74304;

